ChatClient/.vs/
ChatClient/packages/
ChatClient/ChatClient/bin/
ChatClient/ChatClient/obj/
ChatServer/.vs/
ChatServer/packages/
ChatServer/ChatClient/bin/
ChatServer/ChatClient/obj/
ClientAddition/1Lab/bin/
ClientAddition/1Lab/obj/
ClientAddition/2Lab/bin/
ClientAddition/2Lab/obj/

